rules_version = '2';
service firestore.rules {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if
          request.time < timestamp.date(2021, 3, 17);
    }
  }
}